$content-fc:#333;
$medium-fc:#666;
$light-fc:#999;
$gray-bgColor:#f1f1f1;
$content-notice-fc: #777;
$search-color: #b7b7b7;
$content-bgColor: #f5f5f5; 
$bgColor: #fff;
$highlight-fontColor: #e93b3b;
$btn-bgColor: #0091FF;
$submit-bgColor: #4FB0F9;

$box-side:0.18rem;
$input-fs:.14rem;